.sidebar-div {
  text-align: center;
  width: 12%;
  height: calc(100% - 70px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  .sidebar-container{
    position: fixed;
    top: 125px;
  a,
  span {
    text-decoration: none;
    color: #4d4d4d;
    position: relative;
    .menu-item {
      margin-bottom: 30px;
      cursor: pointer;
      font-family: 'Montserrat', sans-serif !important;
      .icon-div{
            box-shadow: 0px 4px 4px 0px #00000040;
            filter: drop-shadow(0px 4px 4px #00000040);
            //box-shadow: 0px 4px 4px 0px #00000040;
            background: #acacac;
            border-radius: 10px;
            padding: 6px 0px;
            width: 59px;
            margin: auto;

        svg {
            filter: drop-shadow(0px 4px 4px  #00000040);
            font-size: 32px;
            //padding: 9px 12px;
            color: white;
          }
      }
  
      .menu-name {
        filter: drop-shadow(0px 4px 4px  #00000040);
        font-size: 12px;
        margin-top: 10px;
        font-weight: 700;

      }
      &.selected {
        .icon-div{
          background: #3db6e7;
        }
        /*svg {
          background: #3db6e7;
        } */
        .menu-name {
              color: #ff725e;
        }
      }
    }
    .menu-options {
    position: absolute;
    display: flex;
    left: 1px;
    top: 0px;
      svg {
          font-size: 47px;
          color: #ff725e;
          margin-top: 10px;
          margin-right: 10px;
        path {
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
      }
      ul {
        margin-top: 10px;
        margin-left: -40px;
        padding: 0px 17px;
        li {
          list-style: none;
          background: #3db6e7;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          border-radius: 10px;
          color: #fff;
          margin-bottom: 10px;
          font-size: 13px;      
          padding: 6px 5px;

          a {
            color: #fff;
          }
          &:last-child {
            background: #8b8787;
          }
        }
      }
    }
  }
  }

}

.MuiPaper-root {
  display: none;
  width: 244px;
  padding: 20px 0;
  text-align: center;

  .drawer-div {
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    a {
      text-decoration: none;
      color: #4d4d4d;
      .menu-item {
        margin-bottom: 30px;
        cursor: pointer;
        svg {
          font-size: 47px;
          padding: 9px 12px;
          border-radius: 10px;
          color: white;
          background: #969595;
        }
        .menu-name {
          font-size: 12px;
          margin-top: 10px;
          font-weight: 700;
        }
        &.selected {
          svg {
            background: #3db6e7;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .sidebar-div {
    display: none;
  }

  .MuiPaper-root {
    display: block;
    padding: 0 53px;
    text-align: center;
    .drawer-div {
      height: inherit;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      a {
        text-decoration: none;
        color: #4d4d4d;
        .menu-item {
          margin-bottom: 30px;
          cursor: pointer;
          svg {
            font-size: 47px;
            padding: 9px 12px;
            border-radius: 10px;
            color: white;
            background: #969595;
          }
          .menu-name {
            font-size: 12px;
            margin-top: 10px;
            font-weight: 700;
          }
          &.selected {
            svg {
              background: #3db6e7;
            }
            .menu-name {
              color: #ff725e;
            }
          }
        }
        .menu-options {
          position: absolute;
          display: flex;
          left: 125px;
          top: 272px;
          svg {
            color: #ff725e;
            font-size: 46px;
            width: 30px;
            path {
              box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            }
          }
          ul {
            margin: 0;
            /* margin-left: -40px; */
            padding-left: 0;
            li {
                  list-style: none;
                  background: #3db6e7;
                  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
                  border-radius: 10px;
                  color: #fff;
                  margin-bottom: 10px;
                  font-size: 13px;
                  padding: 5px 14px;
              a {
                color: #fff;
              }
              &:last-child {
                background: #8b8787;
              }
            }
          }
        }
      }
    }
  }
}
