.sidebar-div {
  text-align: center;
  width: 12%;
  height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  a,
  span {
    text-decoration: none;
    color: #4d4d4d;
    position: relative;
    .menu-item {
      margin-bottom: 30px;
      cursor: pointer;
      svg {
        font-size: 47px;
        padding: 9px 12px;
        border-radius: 10px;
        color: white;
        background: #969595;
      }
      .menu-name {
        font-size: 12px;
        margin-top: 10px;
        font-weight: 700;
      }
      &.selected {
        svg {
          background: #3db6e7;
        }
      }
    }
    .menu-options {
      position: absolute;
      display: flex;
      left: 60px;
      top: 0;
      svg {
        font-size: 50px;
        color: #ff725e;
        path {
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
      }
      ul {
        margin-top: 10px;
        margin-left: -40px;
        li {
          list-style: none;
          background: #3db6e7;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          border-radius: 10px;
          color: #fff;
          margin-bottom: 10px;
          font-size: 13px;
          padding: 6px 20px;
          a {
            color: #fff;
          }
          &:last-child {
            background: #8b8787;
          }
        }
      }
    }
  }
}

.MuiPaper-root {
  display: none;
  padding: 0 53px;
  text-align: center;
  .drawer-div {
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    a {
      text-decoration: none;
      color: #4d4d4d;
      .menu-item {
        margin-bottom: 30px;
        cursor: pointer;
        svg {
          font-size: 47px;
          padding: 9px 12px;
          border-radius: 10px;
          color: white;
          background: #969595;
        }
        .menu-name {
          font-size: 12px;
          margin-top: 10px;
          font-weight: 700;
        }
        &.selected {
          svg {
            background: #3db6e7;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .sidebar-div {
    display: none;
  }
  .MuiPaper-root {
    display: block;
  }

    .MuiPaper-root {
         display: none;
        padding: 0 53px;
        text-align: center;
        .drawer-div{
                height: inherit;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                a{
                  text-decoration: none;
                  color: #4d4d4d;
                  .menu-item{
                          margin-bottom: 30px;
                          cursor: pointer;
                      svg{
                          font-size: 47px;
                          padding: 9px 12px;
                          border-radius: 10px;
                          color: white;
                          background: #969595;
                      }
                      .menu-name{
                          font-size: 12px;
                          margin-top: 10px;
                          font-weight: 700;
                      }
                      &.selected{
                          svg{
                              background: #3db6e7;
                          }
                          .menu-name{
                              color: #FF725E;
                          }
                      }
                  }
              }
        }
}
