.section-container {
  padding: 37px 0;
  .section-row {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    .left-div {
   
      button{
          margin-right: 20px;
          width: 100%;
          display: flex;
          background: #fab2ff;
          background: linear-gradient(90deg, #fab2ff 0%, #1904e5 100%);
          padding: 23px 15px;
          text-align: center;
          justify-content: space-between;
          border-radius: 20px;
          margin-bottom: 20px;
         
          img {
          width: 32px;
            /* margin: 15px; */
            //margin: 0 17px;
            }

         .speaking-icon{
            width: 20px;
          }
        .section-title {
          font-size: 20px;
          color: white;
          font-weight: 600;
          font-family: 'Montserrat', sans-serif !important;
        }

      }
    }
    .right-div {
      width: 100%;
      text-align: center;
      display: flex;
      align-items: center;
      box-shadow: 0px 18px 40px 0px #7090b01f;
      border-radius: 20px;
      margin-bottom: 20px;
      padding: 10px 0;
      div {
      }

      .test-number {
        color: #1B2559;
        font-weight: 700; 
        font-size: 18px;
        font-family: 'Montserrat', sans-serif !important;
      }
      .duration-div {
        font-size: 18px;
        font-weight: 600;
        font-family: 'Montserrat', sans-serif !important;
        .duration {
          font-size: 16px;
          font-weight: 400;
          font-family: 'Open Sans', sans-serif !important;
        }
      }
      .questions-div {
        font-size: 18px;
        font-weight: 600;
        font-family: 'Montserrat', sans-serif !important;
        .questions {
          font-size: 16px;
          font-weight: 400;
          font-family: 'Open Sans', sans-serif !important;
        }
      }
    }
  }
}


@media screen and (max-width : 900px) {
    .section-container{
      .section-row{
          .left-div{
            justify-content: center;
                  img {
                  margin: 0 20px;
                  /* margin: 15px; */
                  //margin: 0 17px;
                }
          }
      }
    }  
}
