.content-container{
    display: flex;
    .layout-content{
        width: 88%;
        ///height: calc(100% - 70px);
        overflow: auto;
    }

}

@media screen and (max-width : 768px) {
    .content-container{
            .layout-content{
                width: 100%;
        }
    }

}
