.scored-container{
    display: flex;
    /* justify-content: center; */
    flex-wrap: wrap;
    align-items: center;
    padding: 37px 0;
    .scored-div{
        background-color:#FFFFFF33 ;
        box-shadow: 30px 70px 120px 0px #1B314221;
        position: relative;
        //width: 22%;
        margin-right: 41px;
        padding: 30px 20px;
        text-align: center;
        border-radius: 32px;
        border: 2px solid #f67280;
        margin-bottom: 20px;
        .ques-no{
               /* width: 49px; */
                /* height: 50px; */
                align-items: center;
                padding: 14px 20px;
                /* padding: 20px 30px; */
                background: #ff725e;
                width: fit-content;
                margin: auto;
                font-size: 18px;
                border-radius: 50%;
                /* margin-top: auto; */
                /* display: flex; */
                /* justify-content: center; */
                color: #fff;
        }
        .ques-heading{
            font-size: 14px;
            font-weight: 600;
            margin-top: 16px;
        }
        .mins{
            font-size: 18px;
            font-weight: 700;
            margin: 10px 0;
        }
        .test-tag{
               position: absolute;
                bottom: -12px;
                border-radius: 20px;
                background: white;
                padding: 10x 0;
                padding: 10px 11px;
                box-shadow: 4px 15px 20px 0 rgb(27 49 66 / 13%);
                font-size: 12px;
                left: 16%;
                right: 16%;
        }
      
    }
      :nth-child(4n){
            margin-right: 0;
        }
}


@media screen and (max-width : 1024px) {
    .scored-container{
        .scored-div {
                //width: 23.5%;
                margin-right: 12.8px;
                margin-bottom: 30px;
            .test-tag{
                bottom: -21px;
                font-size: 12px;
            }
        }
    } 
}

@media screen and (max-width : 768px) {
    .scored-container{
        .scored-div {
               // width: 23.5%;
                margin-right: 10.9px;
                margin-bottom: 30px;
            .test-tag{
                bottom: -21px;
                font-size: 12px;
            }
        }
    } 
}

// Mobile responsive 

@media screen and (max-width : 425px) {
    .scored-container{
        .scored-div {
               // width: 46.5%;
                margin-right: 10.9px;
                margin-bottom: 30px;
        }
    }
}

@media screen and (max-width : 320px) {
    .scored-container{
        padding: 7px 0;
        .scored-div {
              //  width: 100%;
        }
    }
}