.mock-container{
    .mock-header{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 90%;
            flex-wrap: wrap;
            margin-left: 35px;
        .header-button{
            button{
                color: black;
                font-weight: 600;
                text-transform: capitalize;
                padding: 20px 10px;
                background: #ffff;
                border-radius: 20px;
                box-shadow: 0 4px 4px 0 rgb(0 0 0 / 25%);
                width: 241px;
                svg{
                    background-color: #9ea1fb;
                    color: #ffff;
                    font-size: 35px;
                    padding: 5px;
                    border-radius: 50%;
                    margin-right: 9px;
                }
                &.selected{
                    color: #ffff;
                    background: rgb(61,183,233);
                    background: linear-gradient(90deg, rgba(61,183,233,1) 0%, rgba(67,24,255,1) 100%);
                    svg{
                        background-color: transparent;
                    }
                }
            }
        }
    }
    .mock-content{
        width: 90%;
        margin-left: 25px;
    }
}


@media screen and (max-width : 1024px) {
    .mock-container{
            .mock-header{
                margin: auto;
                width: 95%;
            .header-button{
                button{
                    width: 190px;
                    svg{
                        font-size: 30px;
                        margin-right: 6px;
                    }
                }
            }
        }

        .mock-content{
            width: 95%;
            margin: auto;
        }
    }
}

@media screen and (max-width : 768px) {
    .mock-container{
            .mock-header{
            width: 95%;
            margin: auto;
            .header-button{
                button{
                    padding: 20px 5px;
                    font-size: 14px;
                    width: 177px;
                    svg{
                        font-size: 30px;
                        margin-right: 6px;
                    }
                }
            }
        }

        .mock-content{
            width: 95%;
            margin: auto;
        }
    }
}

// Mobile responsive 

@media screen and (max-width : 425px) {
    .mock-container{
            .mock-header{
                    width: 90%;
                    margin: auto;
                .header-button{
                    margin-bottom: 23px;
                }
            }

            .mock-content{
                width: 95%;
                margin: auto;
            }
    }
}

@media screen and (max-width : 375px) {
    .mock-container{
            .mock-header{
                   display: block;
                .header-button{
                    margin-bottom: 23px;
                    button{
                        width: 100%;
                    }
                }
            }

            .mock-content{
                width: 95%;
                margin: auto;
            }
    }
}

